<p-toast></p-toast>

<div class="p-4 max-w-md mx-auto bg-white rounded-lg shadow">
  <h2 class="text-xl font-bold mb-4 text-center">Cambiar Contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="cambiarPassword()" class="space-y-4">

    <div>
      <input
        type="password"
        pInputText
        formControlName="passwordActual"
        class="w-full"
        placeholder="Contraseña actual"
      />
      <div *ngIf="form.get('passwordActual')?.touched && form.get('passwordActual')?.invalid" class="text-red-600 text-sm">
        Contraseña actual es requerida
      </div>
    </div>

    <div>
      <p-password
        id="nueva"
        formControlName="passwordNueva"
        toggleMask
        class="m-2 block w-full"
        inputStyleClass="w-sm bg-black text-white p-2 rounded-md"
        placeholder="Nueva Contraseña"
      ></p-password>
      <div *ngIf="form.get('passwordNueva')?.touched && form.get('passwordNueva')?.errors" class="text-red-600 text-sm">
        <div *ngIf="form.get('passwordNueva')?.errors?.['required']">Nueva contraseña es requerida</div>
        <div *ngIf="form.get('passwordNueva')?.errors?.['minlength']">Debe tener al menos 8 caracteres</div>
        <div *ngIf="form.get('passwordNueva')?.errors?.['pattern']">Debe tener al menos un carácter especial</div>
      </div>

    </div>

    <div>
      <p-password
        id="confirmar"
        formControlName="confirmar"
        toggleMask
        class="m-2 block w-full"
        inputStyleClass="w-sm bg-black text-white p-2 rounded-md"
        placeholder="Confirmar Contraseña"
      ></p-password>
      <div *ngIf="form.get('confirmar')?.touched && form.get('confirmar')?.invalid" class="text-red-600 text-sm">
        Confirmar contraseña es requerida
      </div>
      <div *ngIf="form.hasError('noCoinciden') && (form.get('confirmar')?.touched || form.get('passwordNueva')?.touched)" class="text-red-600 text-sm">
        Las contraseñas no coinciden
      </div>
    </div>

    <div class="text-center pt-4">
      <button
        pButton
        type="submit"
        class="w-full "
        onclick="cambiarPassword()"
      >
        <i class="pi pi-lock"></i> <span>Cambiar</span>

      </button>
    </div>

    <p class="text-sm text-gray-600 mt-4">
      La contraseña debe tener al menos 8 caracteres y por lo menos 1 carácter especial.
    </p>

  </form>
</div>
