@import "tailwindcss";
@import "primeicons/primeicons.css";

.animate-float-square {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  pointer-events: none;
}
@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(5deg);
  }
  50% {
    transform: translateY(-20px) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}


.animate-float-square {
  mix-blend-mode: overlay;
  filter: blur(0.5px);
  opacity: 0.2;
}
